/* @import url('https://fonts.googleapis.com/css2?family=Monserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Monserrat", sans-serif;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', "Inter", 'Nunito Sans',
    sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/blueWithCircles.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 .card{
  @apply rounded bg-white border-gray-200 shadow-md overflow-hidden relative;
}

/* .badge{
  @apply absolute top-0 ml-2 p-2 mt-2 bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full;
} */

/* .btn{
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold tracking-wider cursor-pointer;
} */ 

.nav-link:hover{
  color:blue;
}